/* Stile per la navbar */
.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #477595; /* Cambiato colore di sfondo */
    overflow: hidden;
    height: 10vh; /* Aumentato l'altezza per una maggiore visibilitÃ  */
}

.navbar a {
    color: #ecf0f1; /* Cambiato colore del testo */
    text-align: center;
    padding: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Aggiunto effetto di transizione */
}

.navbar a:hover {
    background-color: #2c495e; /* Cambiato colore di sfondo al passaggio del mouse */
    color: #ffffff; /* Cambiato colore del testo al passaggio del mouse */
}

.navbar a.active {
    background-color: #2c495e;
    color: #fff;
    pointer-events: none;
}
.navbar a.deactive {
    background-color: #477595;
    color: #fff;
    pointer-events: none;
}
/* Wrappare la navbar in un contorno visibile */
.navbar-container {
    border: none; /* Rimossa la bordatura */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunto effetto di ombreggiatura */
}
