.search-bar {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 60px;
}

.search-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background-color: #487595;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2980b9;
}

.account-container {
    text-align: center;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.user-info img {
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    text-align: left;
}

.user-details div {
    margin-bottom: 20px;
    font-size: 20px;
}

.user-score {
    font-size: 36px;
    color: #487595;
}

.edit-section {
    text-align: left;
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.edit-section h2 {
    text-align: center;
}

.edit-section label {
    display: block;
    margin-bottom: 8px;
}

.edit-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.edit-section button {
    background-color: #487595;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    min-width: 100%;
}

.edit-section button:hover {
    background-color: #2980b9;
}