.page-container {
    text-align: center;
}
.table-container {
    width: 50%;
    max-height: 300px;
    overflow: auto;
    margin: 80px auto 0;
}
.battle-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    max-height: 300px;
    overflow: auto;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin: 40px auto; /* Aumentato il valore per più spazio sopra e sotto */
}
.battle-container2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40%;
    max-height: 500px;
    overflow: auto;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin: 40px auto; /* Aumentato il valore per più spazio sopra e sotto */
}
.tb-title {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td.large-column {
    width: 70%;
}